<html>
<head>
    <title>Word List Ideas</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Word List for writing prompts.</h1>
            Use these words to help spark your creative side.
        </div>
        <div class="content">
               <p>
               </p>
        </div>
        <div class="footer">
            <p><a href="index.html">Reload</a></p>
        </div>
    </div>
</body>
</html>
